In [3]:
import pandas as pd
import string
import nltk
import numpy as np
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords
df = pd.read_csv('Datasets/steam-reviews-dataset/steam_reviews.csv', usecols=['recommendation', 'review'])  
df.head()

  recommendation                                             review
0    Recommended  &gt Played as German Reich&gt Declare war on B...
1    Recommended                                               yes.
2    Recommended  Very good game although a bit overpriced in my...
3    Recommended  Out of all the reviews I wrote This one is pro...
4    Recommended  Disclaimer I survivor main. I play games for f...

In [4]:
df.dtypes

recommendation    object
review            object
dtype: object

In [5]:
df.recommendation = df['recommendation'].astype('category')
df.recommendation = df['recommendation'].cat.codes
df

        recommendation                                             review
0                    1  &gt Played as German Reich&gt Declare war on B...
1                    1                                               yes.
2                    1  Very good game although a bit overpriced in my...
3                    1  Out of all the reviews I wrote This one is pro...
4                    1  Disclaimer I survivor main. I play games for f...
...                ...                                                ...
434886               1  YOUR FLESH WILL ROT AND DECAY.STEEL IS IMMORTA...
434887               1  Domini and Dominae I believe what we are deali...
434888               1  First off if you like X Com style of games you...
434889               1  As a disclaimer I'm an AdMech player on the ta...
434890               1  Don't listen to people who claim it's the game...

[434891 rows x 2 columns]

In [6]:
def remove_punctuation(text):
    no_punct = "".join([c for c in text if c not in string.punctuation])
    return no_punct

In [7]:
df['review'] = df['review'].dropna().apply(remove_punctuation)

In [8]:
def remove_stopwords(text):
    words = [w for w in text if w not in stopwords.words('english')]
    return words

In [9]:
tokenizer = RegexpTokenizer(r'\w+')
df['review'] = df['review'].dropna().apply(lambda x: tokenizer.tokenize(x.lower()))
#df['review'] = df['review'].dropna().apply(lambda x: remove_stopwords(x))
df.head()

   recommendation                                             review
0               1  [gt, played, as, german, reichgt, declare, war...
1               1                                              [yes]
2               1  [very, good, game, although, a, bit, overprice...
3               1  [out, of, all, the, reviews, i, wrote, this, o...
4               1  [disclaimer, i, survivor, main, i, play, games...

In [10]:

from sklearn.feature_extraction.text import CountVectorizer
count = CountVectorizer()
def untokenize(list):
    return " ".join(list)

In [11]:
df_dropna = df.dropna()
clean_reviews_train = df_dropna['review'].loc[:303362].dropna().apply(untokenize)
target_train = df_dropna.loc[:303362,'recommendation']
reviews_test = df_dropna['review'].loc[303362:].dropna().apply(untokenize)
target_test = df_dropna.loc[303362:,'recommendation']

bag = count.fit_transform(clean_reviews_train)
bag_test = count.transform(reviews_test)

In [12]:
bag.shape

(302340, 260709)

In [13]:
from sklearn.feature_extraction.text import TfidfTransformer
tfidf = TfidfTransformer()
bag_tfidf = tfidf.fit_transform(bag)
bag_test_tfidf = tfidf.fit_transform(bag_test)

In [14]:
bag_tfidf.shape

(302340, 260709)

In [15]:
from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNB().fit(bag_tfidf, target_train)

In [16]:
predicted = classifier.predict(bag_test)
np.mean(predicted == target_test)

0.7988033822766263